body, input, button {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
  font-size:26px;
}
h1 {
  text-align: center;
}
.second_screen {
  line-height: 50px;
}

.second_screen {
  line-height: 50px;
}
#answer {
  border: none;
}

input:focus {
    outline: none;
}
